---
import { getCollection } from "astro:content";
import IndexLayout from '../layouts/IndexLayoutNoPhoto.astro'
import BlogPost from '../components/BlogPost.astro'
const allPosts = (await getCollection("blog")).sort((a,b) => b.data.pubDate - a.data.pubDate);

const frontmatter = { title: "Blog" }
---
<IndexLayout frontmatter={frontmatter}>
  <h1>Blog!!</h1>
  <h3>Here I write stuff :3</h3>
  <p><a href="/">Go back</a></p>
  <ul>
    {allPosts.map((post) => <BlogPost url={`/blog/${post.slug}`} title={post.data.title} pubDate={post.data.pubDate} />)}
  </ul>
  <p><a href="/">Go back</a></p>
</IndexLayout>
