---
export interface Props {
	desc?: string,
	keywords?: string,
	author?:string,
	img?: string,
	img_size?: {w: string, h: string},
	img_alt?: string
}
const {
	desc="I like stuff!!!",
	keywords="tech privacy lgbt anime fortnite battle pass i just shit out my ass", //separated by space
	author="MarkAssPandi",
	img="/pfp.png",
	img_size={w: "1200", h: "630"},
	img_alt="drawn pfp showing character with white long hair slightly smiling"
} = Astro.props;

const img_type:string = "";

if(img !== ""){
	const get_type = () => {
		let x:string[] = img.toLowerCase().split(".");
		return x.at(-1) !== 'svg' ? `image/${x.at(-1)}` : `image/${x.at(-1)}+xml`;
	};
	const img_type = get_type();
}
---
<meta name="description" content={desc} />
<meta name="keywords" content={keywords} />
<meta name="author" content={author} />
<meta property="og:description" content={desc} />
{ img !== "" &&
	<meta property="og:image" content={img} />
	<meta property="og:image:type" content={img_type} />
	<meta property="og:image:width" content={img_size.w} />
	<meta property="og:image:height" content={img_size.h}  />
	<meta property="og:image:alt" content={img_alt} />
}
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS Feed">
