---
import Metadata from "../components/Metadata.astro";

const { frontmatter } = Astro.props;
const editDateDisplay = frontmatter.pubDate.toString().slice(0,15) !== frontmatter.editDate.toString().slice(0,15);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={frontmatter.description}>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<Metadata />
		<meta property="og:title" content={frontmatter.title} />
		<script defer data-domain="markasspandi.nl" src="https://plausible.markasspandi.nl/js/script.js"></script>
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<main>
			<div class="content">
				<h1 id="blog-title" style="padding: 0; margin-bottom: 0;">{frontmatter.title}</h1>
				<small id="date">Publication date: {frontmatter.pubDate.toString().slice(0,15)} {editDateDisplay && <p>Last edited on: {frontmatter.editDate.toString().slice(0,15)}</p>}</small>
				<slot />
				<footer> MarkAssPandi - This post is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA-4.0</a> License.</footer>
			</div>
		</main>
	</body>
</html>
<style is:global>
	@font-face {
		font-family: DM_Sans;
		src: url(/DM_Sans/DMSans-Regular.ttf);
		font-weight: normal;
	}
	:root {
		--main-width: 80ch;
	}
	html {
		animation: gradient_bg 120s infinite forwards;
	}
	main {
		margin: .5rem auto;
		padding: 1.5rem;

		max-width: var(--main-width);

		border-radius: .5rem;
		background: #fffa;
		box-shadow: 0 0 20px rgba(0 0 0 / .2);

		font-family: DM_Sans;
	}
	main > *{
		font-size: 1.15rem; /* changes font-size of every text inside main */
	}
	.me{
		display: grid;
		justify-items: center;
	}
	.img-div{
		width: 21rem;
	}
	
	img{
		width: inherit;
	}

		
	.img-desc{
		display: block;
		overflow-wrap: break-word;
		text-align: end;
		margin: 0;
		font-size: .75em;
	}

	/* ----- */

	a{
		color: rgb(80 80 100);
		overflow-wrap: break-word;
	}
	a:hover{
		color: rgb(140 140 160);
		text-decoration-thickness: .1rem;
	}
			
	blockquote {
		margin: 2ch 0;
		padding: .5rem;
		background: rgba(0 0 0 / .05);
		border-left: 1ch rgba(0 0 0 / .1) solid;
		border-radius: .2rem;
	}
	blockquote > *{
		margin: 0;
	}
	
	pre, :not(pre) > code {
		padding: .2rem;
		border-radius: .2rem;
		color: white;
		background: rgb(50 70 80) !important;
	}

	hr{
		margin: 0 2ch;
		padding: .1rem;
		border: none;
		background-color: rgb(128 128 128);
		border-radius: .1rem;
	}

	footer {
		text-align: center;
	}

	div.webring {
		text-align: center;
	}
	@media only screen and (min-width: calc(80ch + 2rem)) {
		main{
			margin: 2rem auto;
		}
		blockquote{
		margin: 2ch 5ch;
	}
	}

	@keyframes gradient_bg {
		0%{
			background: #eff;
		}
		33%{
			background: #fef;
		}
		67%{
			background: #ffe;
		}
		100%{
			background: #eff;
		}
	}
</style>
